# Node modules
node_modules/

# Built files
build/
dist/

# Dependency directories
/.pnp
.pnp.js

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac directories
.DS_Store

# Temporary files
*.log
*.tmp
*.bak
*~
